article{
    background-color: #121212;
    margin-top: 0.5rem;
    color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
}
article div{
    display: flex;
}
.btn{
    background-color: rgb(92, 35, 35);
    color: #fff;
    height: 1.2rem;
    width: 2rem;
    margin-left: 1rem;
    font-size: 15px;
}